<h1>New Post:</h1>
<% if user_signed_in? %>
  <%= form_with model: @post do |i| %>
    <%= i.hidden_field :user_id, value:current_user.id %>
  	<div>
      <%= current_user.inspect%><br>
      <%= i.label :content %><br>
      <%= i.text_area :content %>
      <% @post.errors.full_messages_for(:content).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <%= i.check_box :is_edited, value: false, type: :hidden %>
    <div>
      <%= i.submit %>
    </div>
  <% end %>
<% else %>
<h2>You need to be signed in to create a post!</h2>
<% end %>