<h1 style="display: flex;justify-content: center;margin-top: 8rem">New Post:</h1>
<% if user_signed_in? %>

    <%= form_with model: @post do |i| %>

        <%= i.hidden_field :user_id, value:current_user.id %>
        <%= i.hidden_field :is_edited, value: false%>

        <% @post.errors.full_messages_for(:content).each do |message| %>
            <div style="text-align:center;"><%= message %></div>
        <% end %>
        
      	<div class="container" style="display: flex;justify-content: center;margin-top: 2rem;">

          <div class="field form mb-4" style="width: 60%;">
              <%= i.text_area :content, autofocus: true, class:"form-control",id:"cont-field", placeholder: "content", rows:10%>
          </div>
          
        </div>

        <div class="actions", style="text-align:center;">
          <%= i.submit class:"btn-lg btn-primary"%>
        </div>

    <% end %>

<% else %>
  <h2>You need to be signed in to create a post!</h2>
<% end %>